.header {
    border-bottom: 1px solid #ddd;
}

.header__inner {
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #82776B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-decoration: none;
}

.logout__link {
    position: absolute;
    top: 25px;
    right: 80px;
}

.logout__button-submit {
    border: 1px solid #d9c6b5;
    padding: 6px 16px;
    text-decoration: none;
    color: #d9c6b5;
    font-size: 14px;
}

.admin__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.admin__heading {
    text-align: center;
    margin-bottom: 30px;
    color: #82776B;
    font-family: 'Times New Roman', Times, serif;
}

.admin__search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-form {
    display: flex;
    gap: 22px;
}

.search-form__input,
.search-form__select,
.search-form__date {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: center;
    background: #eee;
    color: #82776B;
}

.search-form__input {
    width: 270px;
}

.search-form__button {
    background: #82776B;
    color: #fff;
    padding: 8px 30px;
    border: none;
    cursor: pointer;
}

.search-form__reset {
    background: #c7b8aa;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
}

.admin__item {
    display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
}

.admin__export {
    margin-bottom: 20px;
}

.admin__export-button {
    background: #e6e4e3;
    padding: 8px 16px;
    text-decoration: none;
    color: #82776B;
}

.admin__pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.admin__pagination nav {
    display: flex;
}

.admin__pagination span,
.admin__pagination a {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #E0DFDE;
    font-size: 14px;
    color: #8B7969;
    text-decoration: none;
}

.admin__pagination .active {
    background: #82776B;
    color: #fff;
    border-color: #82776B;
}

.admin__pagination a:hover {
    background: #f5f5f5;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.admin__table table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.admin__table th,
.admin__table td {
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #82776B;
}

.admin__table th {
    background: #82776B;
    color: #fff;
    text-align: left;
}

.admin__table tr:hover {
    background: #f5f5f5;
}

.table__button {
    padding: 5px 15px;
    background: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #82776B;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.modal__content {
    background: #fff;
    width:  700px;
    padding: 50px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal__close {
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #82776B;
    border: 1px solid #82776B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
}

.modal__row {
    display: flex;
    margin-bottom: 15px;
    color: #82776B;
    font-size: 14px;
}

.modal__label {
    width: 200px;
    font-weight: bold;
}

.modal__value {
    flex: 1;
    word-break: break-word;
    line-height: 1.6;
}

.modal__delete {
    display: block;
    margin: 20px auto 0;
    background: #c40101;
    color: #fff;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}